.git
.gitignore
.env
*.pyc
__pycache__
.pytest_cache
.mypy_cache
.ruff_cache
*.egg-info
dist
build
MONAILabel
Viewers
opentps
data
docs
ohif-extension
*.md
!service/README.md
service/.venv
service/radiarch.db
